.container {
  width: 400px;
  transform: translate(75%, 50%);
}

.emphasized-text {
  font-weight: 500;
  text-decoration: underline;
  ::before {
    text-decoration: none;
  }
}

@media screen and (max-width: 900px) {
  .container {
    font-size: 14px;
    transform: translate(25%, 50%);
  }
}

@media screen and (max-width: 600px) {
  .container {
    transform: translate(10%, 30%);
    width: 80%;
  }
}
