$inner-card-spacing: 15px;

.container {
  flex: 1;
  display: flex;
  margin: $inner-card-spacing;
  align-items: center;
  opacity: 0.5;
  filter: grayscale(50%);
  transition: 0.5s;
  transform-origin: left;
  &:hover {
    opacity: 1;
    filter: grayscale(0%);
    transform: scale(1.1);
  }

  .tech-img {
    height: 64px;
    width: 64px;
    margin-right: 15px;
    transition: 1s;
  }
}

@media screen and(max-width: 900px) {
  .container {
    margin: 10px;

    h2 {
      font-size: 20px;
    }
    .tech-img {
      width: 48px;
      height: 48px;
    }
  }
}

@media screen and(max-width: 600px) {
  .container {
    margin: 5px;

    h2 {
      font-size: 18px;
    }
    .tech-img {
      width: 32px;
      height: 32px;
    }
  }
}
