.nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}
.nav-track {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  display: flex;
  p {
    font-size: 15px;
    margin: 0;
    margin-left: 15px;
  }
}
