.container {
  width: 50%;
  text-align: right;
  align-self: flex-end;
  transform: translateX(-25%);
}

@media screen and (max-width: 900px) {
  .container {
    width: 80%;
    transform: translateX(-10%);
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    transform: translateX(-5%);
  }
}
